body {
    width: 666px;
    margin: 0 auto;
    font-family: Tahoma;
}

.header, .footer {
    background: #666666;
    color: #000000;
    padding: 17px;
}

.header .logo a {
    font-size: 40px;
    font-weight: bold;
    color: #eeeeee;
    text-decoration: none;
}

.header .slogan {
    color: #eeeeee;
}

